.content {
	width: 800px;
	height: 500px;
	border: 1px solid black;
	background-color: yellow;
	margin: auto;
	text-align: center;
}
.header {
	width: 800px;
	height: 200px;
	border: 1px solid black;
	background-color: green;
	margin: auto;
	text-align: center;
}
.footer {
	width: 800px;
	height: 200px;
	border: 1px solid black;
	background-color: pink;
	margin: auto;
	text-align: center;
}